body {
background-color: #fafafa;
}
.no-decotext{
    text-decoration: none;
}

.menu {
    min-width: 700px;
}

.dot {
    height: 5px;
    width: 5px;
    background-color: #ED1C24;
    border-radius: 50%;
    display: inline-block;
  }

  .nn {
    display: flex !important;
  }

.link-menu {
    color: #242424;
    text-decoration: none;
}
.link-menu:hover {
    color: #242424;
    text-decoration: none;
}