body {
    background-color: #fafafa;
}

.no-decotext {
    text-decoration: none;
}

.menu {
    min-width: 700px;
}

.dot {
    height: 5px;
    width: 5px;
    background-color: #ED1C24;
    border-radius: 50%;
    display: inline-block;
}

.nn {
    display: flex !important;
}

.link-menu {
    color: #242424;
    text-decoration: none;
}

.link-menu:hover {
    color: #242424;
    text-decoration: none;
}

.producto {
    opacity: 0.7;
    background-color: var(--negro);
}

.producto:hover {
    opacity: 0.2;
    background-color: var(--negro);
}

.quienes {
    background-color: var(--vitalia);
    transition: all 0.2s ease-in;
    transition: all 0.2s ease-out;
}

.quienes:hover {
    background-color: var(--negro);
    transition: all 0.2s ease-in;
    transition: all 0.2s ease-out;
}

.nosotros {
    background-color: var(--ritalia);
    transition: all 0.2s ease-in;
    transition: all 0.2s ease-out;
}

.nosotros:hover {
    background-color: var(--negro);
    transition: all 0.2s ease-in;
    transition: all 0.2s ease-out;
}

.button-r {
    background-color: var(--ritalia);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    box-shadow: none !important;
    border-radius: 50px;
    color: var(--blanco);
    border: 1px solid;
    border-color: var(--blanco);
    transition: all 0.2s ease-in;
    transition: all 0.2s ease-out;
    text-decoration: none !important;
    opacity: 0.5;

}

.button-r-active {
    opacity: 1;
}

.button-r-active:hover {
    background-color: var(--negro);
    transition: all 0.2s ease-in;
    transition: all 0.2s ease-out;
    color: var(--blanco);
}

.visto {
    visibility: visible !important;
    transition: all 0.2s ease-in;
    transition: all 0.2s ease-out;
}

.oculto {
    visibility: hidden !important;
    position: absolute !important;
    transition: all 0.2s ease-in;
    transition: all 0.2s ease-out;
}


.error-form {
    font-family: 'Comfortaa', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: var(--blanco);
    background-color: var(--ritalia);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 12px;
}

.aviso {
    width: 500px;
    padding: 50px;
    background-color: var(--negro);
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.5s ease-out;
}

.lista-a {
    border-left: solid 3px;
    border-top: solid 3px;
    border-bottom: solid 3px;
    border-right: solid 3px;
    border-color: var(--negro);
}

.lista-b {
    border-top: solid 3px;
    border-bottom: solid 3px;
    border-right: solid 3px;
    border-color: var(--negro);
}

.seleccion {
    padding: 10px;
    font-family: 'Comfortaa', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: var(--negro);
}

.seleccion:hover {
    color: var(--ritalia);
    font-weight: 700;
}

.seleccion:active {
    background-color: var(--ritalia);
    color: var(--blanco);
    font-weight: 700;
}

.resultado {
    padding: 10px;
    font-family: 'Comfortaa', sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: var(--vitalia);
}

.resultado-form {
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Comfortaa', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--negro);
}

.contact-fullscreen {
    visibility: visible;
    position: inherit;
}

.header-height {
    height: 180px;
}

.justify-content-between-responsive {
    justify-content: space-between !important;
}

.border-header {
padding-left: 3rem!important;
padding-right: 3rem!important;
}

.hamburguesa {
    width: 80px;
    height: 80px;
    border-radius: 20px;
    background-color: var(--blanco);
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    position: relative !important;
    border: none;
    transition: 0.5s ease;
    z-index: 2;
}

.burger-900 {
    visibility: hidden;
    position: absolute;
}
/* BURGER NORMAL */
.linea1 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    transition: 0.5s ease;
}

.linea2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    transition: 0.5s ease;
}

.linea3 {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    transition: 0.5s ease;
}

.linea {
    height: 5px;
    width: 40px;
    background-color: var(--negro);
    border-radius: 10px;
    transition: 0.5s ease;
}

/* BURGER FLECHA */
.linea1fle {
    position: absolute;
    top: 51%;
    left: 59.6%;
    transform: rotate(45deg) translate(-50%, -50%) !important;
    transition: 0.5s ease;
}

.linea3fle {
    position: absolute;
    top: 47%;
    left: 64%;
    transform: rotate(-45deg) translate(-50%, -50%) !important;
    transition: 0.5s ease;
}

.lineaflecha {
    height: 5px;
    width: 20px;
    border-radius: 10px;
    background-color: var(--negro);
    transition: 0.5s ease;
}

.burger-content {
    position: fixed!important;
    display: flex!important;
    flex-direction: column!important;
    align-items: end!important;
    justify-content: space-around!important;
    background-color: var(--ritalia);
    height: 100vh;
    z-index: 1;
    right: 0%;
    padding-left: 100px;
    padding-right: 40px;
}


@media only screen and (max-width: 1550px) {
    .responsive-header {
        flex-direction: column !important;
    }

    .header-element-responsive {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .contact-fullscreen {
        visibility: hidden;
        position: absolute;
    }

    .header-height {
        height: 200px;
    }
}

@media only screen and (max-width: 900px) {
    .menu-900 {
        margin-top: 10px;
        margin-bottom: 10px;
        visibility: hidden;
        position: absolute;
    }
    .burger-900 {
        visibility: visible;
        position: inherit;
    }
    .border-header {
        padding-left: 0.5rem!important;
        padding-right: 0.5rem!important;
        }
}