body {
    background-color: #fafafa;
}

.no-decotext {
    text-decoration: none;
}

.menu {
    min-width: 700px;
}

.dot {
    height: 5px;
    width: 5px;
    background-color: #ED1C24;
    border-radius: 50%;
    display: inline-block;
}

.nn {
    display: flex !important;
}

.link-menu {
    color: #242424;
    text-decoration: none;
}

.link-menu:hover {
    color: #242424;
    text-decoration: none;
}

.producto {
    opacity: 0.7;
    background-color: var(--negro);
}

.producto:hover {
    opacity: 0.2;
    background-color: var(--negro);
}

.quienes {
    background-color: var(--vitalia);
    transition: all 0.2s ease-in;
    transition: all 0.2s ease-out;
}

.quienes:hover {
    background-color: var(--negro);
    transition: all 0.2s ease-in;
    transition: all 0.2s ease-out;
}

.nosotros {
    background-color: var(--ritalia);
    transition: all 0.2s ease-in;
    transition: all 0.2s ease-out;
}

.nosotros:hover {
    background-color: var(--negro);
    transition: all 0.2s ease-in;
    transition: all 0.2s ease-out;
}

.button-r {
    background-color: var(--ritalia);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    box-shadow: none !important;
    border-radius: 50px;
    color: var(--blanco);
    border: 1px solid;
    border-color: var(--blanco);
    transition: all 0.2s ease-in;
    transition: all 0.2s ease-out;
    text-decoration: none !important;
    opacity: 0.5;

}

.button-r-active {
    opacity: 1;
}

.button-r-active:hover {
    background-color: var(--negro);
    transition: all 0.2s ease-in;
    transition: all 0.2s ease-out;
    color: var(--blanco);
}

.visto {
    visibility: visible !important;
    transition: all 0.2s ease-in;
    transition: all 0.2s ease-out;
}

.oculto {
    visibility: hidden !important;
    position: absolute !important;
    transition: all 0.2s ease-in;
    transition: all 0.2s ease-out;
}


.error-form {
    font-family: 'Comfortaa', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: var(--blanco);
    background-color: var(--ritalia);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 12px;
}

.aviso {
    width: 500px;
    padding: 50px;
    background-color: var(--negro);
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.5s ease-out;
}

.lista-a {
    border-left: solid 3px;
    border-top: solid 3px;
    border-bottom: solid 3px;
    border-right: solid 3px;
    border-color: var(--negro);
}
.lista-b {
    border-top: solid 3px;
    border-bottom: solid 3px;
    border-right: solid 3px;
    border-color: var(--negro);
}

.seleccion {
    padding: 10px;
    font-family: 'Comfortaa', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: var(--negro);
}

.seleccion:hover {
    color: var(--ritalia);
    font-weight: 700;
}

.seleccion:active {
    background-color: var(--ritalia);
    color: var(--blanco);
    font-weight: 700;
}

.resultado {
    padding: 10px;
    font-family: 'Comfortaa', sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: var(--vitalia);
}

.resultado-form {
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Comfortaa', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--negro);
}